body{
    margin: 0;
    background-color:rgb(211, 211, 211);
}
h1{
    font-size: 1 rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    text-align: center;
    padding: 20px;
}
.description{
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 15px;
    padding: 15px;
}

.nav{
    display: flex;
    list-style-type: none;
    flex-direction:row;
    gap: 30px;
    margin: 12px;
    font-size: 20px;
    padding: 15px;
    justify-content: center;
    background-color:antiquewhite;
}
.nav a{
    text-decoration: none;
    color: green;
}
.nav a:hover{
    background-color: black;
    color:white;
}

.door h2{
    text-align: center;
    padding: 15px;
    margin: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.door-paragraph{
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.door p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 15px;
    margin: 15px;
}
.first-image{
        display: block;
        margin: 0 auto;
        max-width: 90%;
        height: auto;
}
.door-poem{
    text-align: center;
   
}
.door-types h3{
    font-size: 2rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    padding: 20px;
    text-align: center;
}

.Material h4{
        font-size: 20px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
        padding: 20px;
        margin-left: 15px;
        text-align: center;
}
.Material ol{
    margin-left: 15px;
    font-size: 20px;
}
.Material ol li{
    background-color: aqua;
    text-align: center;
    list-style: inside numbers;
}
.Material ul li{
    border: 2px dotted ;
    list-style: square inside;
    background-color:burlywood; 
}
.Material ol li,
.Material ul li {
  margin-bottom: 8px;
  padding: 8px 12px;
  border-radius: 5px;
}
.Style h4{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 20px;
    margin-left: 15px;
    text-align: center;
}
.Style ol li, 
.Style ul li{
    margin-bottom: 8px;
    padding: 8px 12px;
}
.Style ol li{
    background-color: beige;
    text-align: center;
    list-style: inside numbers;
    border: 1px solid;
    border-radius: 50px;
    font-size: 20px;
}
.Style ul li{
    border: 2px dotted;
    list-style-type: disc;
}
.trend h4{
    font-size: 20px;
    text-align: center;
    padding: 20px;
}
.trend ul li{
    margin-bottom: 8px;
    padding: 8px 12px;
    text-align: center;
    list-style: inside numbers;
}
.trend ul{
    border: 2px dashed;
}
@media only screen and (max-width: 450px){
    .nav{
        display: flex;
        font-size: 10px;
        margin: 5px;
        padding: 2px;
    }
    .description{
        font-size: 10px;
    }
    .door h2{
        font-size: 20px;
    }
    .door-paragraph{
        font-size: 10px;
    }
    .door-poem{
        font-size: 10px;
    }
    .door-types h3{
        font-size: 20px;
    }
    .Material h4{
        font-size: 15px;
    }
    .Material ol{
        margin-bottom: 5px;
        text-align: center;
        font-size: 10px;
        padding: 2px 4px;
    }
    .Material ul li{
        text-align: center;
    }
    .Style h4{
        font-size: 15px;
    }
    .Style ol{
        margin-bottom: 5px;
        text-align: center;
        font-size: 10px;
        padding: 2px 4px;
    }
    .Style ol li{
        font-size: 10px;
    }
    .trend h4{
        font-size: 15px;
    }
    .trend ul li{
        font-size: 10px;
    }
}